.container{
    padding: 10px;
}

.links{
    align-items: left;
    display: flex;
    gap:30px;
    text-decoration: none;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    font-weight: 100;
}